.visibleDropdown{
    display: block;
}

.fontw{
    font-weight: 600!important;
}

.form-control{
    font-weight: 600;
}

.border {
    border: var(--bs-border-width) var(--bs-border-style) #e6ddc4 !important;
}