.form-floating {
    position: inherit;
}
.modal-content{
    background-color: #e9ecef;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
}
.border {
    --bs-border-width: 1px;
    --bs-border-color: #5f8d84;
    border-radius: 0.3rem;
}