<div class="row mb-1" style="background-color: #fff5da;">
    <div class="row mt-2" style="height: 30px;">
        <div class="col-4">
            <h4>Выполнить</h4>
        </div>
        <div class="col-4">
            <h4>В работе</h4>
        </div>
        <div class="col-4">
            <h4>Готово</h4>
        </div>
    </div>
    <div class="row" style="height: 963px; overflow-y: auto;">
        <div class="col-4 border border-2 rounded p-3">
            <ng-container  *ngFor="let item of taskStatus1; let i = index">
                    <app-task [task]="item"></app-task>
            </ng-container>
        </div>
        <div class="col-4 border border-2 rounded p-3">
            <ng-container  *ngFor="let item of taskStatus2; let i = index">
                    <app-task [task]="item"></app-task>
            </ng-container>
        </div>
        <div class="col-4 border border-2 rounded p-3">
            <ng-container  *ngFor="let item of taskStatus3; let i = index">
                    <app-task [task]="item"></app-task>
            </ng-container>
        </div>
    </div>
</div>
